<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>
		
	</head>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div class="page-header">
					<h1>test</h1>
				</div>
				<!-- end page header -->

				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
