<!doctype html>
<html lang="en">
	<head>
		<% include shared/header %>
        <script>
            $(document).ready(function(){

                $("form").submit(function() {
                    $(this).find("input[name=password]").val(
                        SHA256($(this).find("input[name=password]").val())
                    );
                });
            });
        </script>
	</head>
	<body>
		<% include shared/nav %>
		<!-- main container -->
		<div class="container">
				<!-- page header -->
				<div>

                    <form action="/api/user/signup" method="post">
                        <div>
                            <label>Email:</label>
                            <input type="email" name="mail" required/>
                        </div>
                        <div>
                            <label>Nom:</label>
                            <input type="text" name="nom" required/>
                        </div>
                        <div>
                            <label>Prenom:</label>
                            <input type="text" name="prenom" required/>
                        </div>
                        <div>
                            <label>Année de naissance:</label>
                            <input type="number" name="age" min="1900" max="2099" step="1" value="2016" />
                        </div>
                        <div>
                            <label>Mot de passe:</label>
                            <input type="password" required name="password" minlength="5"
                                   title="Veuillez saisir un identifiant avec 4 à 8 chiffres hexadécimaux."/>
                        </div>
                        <div>
                            <label>Pays:</label>
                            <select name="pays">
                                <option value="en">Anglais</option>
                                <option value="fr">Français</option>
                                <option value="es">Espagnol</option>
                            </select>
                        </div>
                        <div>
                            <input type="submit" value="Sign Up"/>
                        </div>
                    </form>
				</div>
				<!-- end page header -->



				<% if(locals.error) { %>
					<!-- error -->
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
							<div class="alert alert-danger">
								<strong>Erreur : </strong> <%- error %>
							</div>
						</div>
					</div>
					<!-- end error -->
				<% } %>

		</div>
		<!-- end main container -->
		<% include shared/footer %>
	</body>
</html>
